@using MudBlazor

<div class="@Class cursor-pointer" @onclick="EnableEdit" style="min-height: 2rem;">
@if (_isEditing)
{
    <MudTextField T="string"
                  @ref=@_textField
                  Value=@Value
                  ValueChanged=@OnValueChanged
                  OnBlur=@FinishEdit
                  OnKeyDown=@HandleKeyDown
                  Variant=@Variant.Outlined
                  Margin=@Margin.Dense
                  Lines=@(Multiline ? 3 : 1)
                  Style="background-color: white;"
                  FullWidth=@FullWidth
                  AutoGrow=@Multiline
                  Immediate=@true />
}
else
{
    <div @onclick=@EnableEdit
         class="@($"cursor-pointer hover-effect {Class}")"
         style="@($"{Style}; display: block; width: 100%; min-height: 1.5em;")">
         
        <MudText Typo="@Typo" Style="pointer-events: none;">
            @if (string.IsNullOrWhiteSpace(Value))
            {
                @if (string.IsNullOrEmpty(Placeholder))
                {
                    @((MarkupString)"&nbsp;")
                }
                else
                {
                    <span class="mud-text-secondary font-italic">@Placeholder</span>
                }
            }
            else
            {
                @Value
            }
        </MudText>
    </div>
}
</div>